
h1 {
    background-color: rgb(240, 240, 240);
    padding:  .8rem;   
    text-align: center;
}

.bloc_haut {
    border: solid 1px slateblue;
    display: flex;
}

.bloc_centre {
    padding: 1rem;
    background-color: rgb(190, 190, 190);
    border: 2px dashed black;
    height: fit-content;
}

.bloc_centre_haut {
    background-color: rgb(212, 212, 212);
    border-top: 1px solid;
}

.h1_centre_haut {
    width: 50%;
    margin-left: 50%;
    border-bottom: 1px solid ;
    transform: translate(-50%);
}

.txt_centre_haut {
    padding: .5rem;
}
.bloc_centre_bas {
    background-color: rgb(212, 212, 212);
    border-bottom:  1px solid;
}

.h1_centre_bas {
    background-color: rgb(212, 212, 212);
    width: 25%;
    text-align: right;
    font-style: italic;
    float: right;
    padding-right: 1rem;
}

.txt_centre_bas {
    clear: right;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 3rem;
    padding: .5rem;
    width: 66%;
    text-align: justify;
    border-left: solid;
    border-right: solid;
    line-height: 35px;
}

.colonne_gauche {
    background-color: rgb(212, 212, 212);
    margin-right: 1rem;
    padding: .5rem;
    width: 25%;
}

.h1_gauche {
    text-align: center;
    background-color: rgb(240, 240, 240);   
}

.txt_gauche::first-letter {
    float: left;
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 1rem;
}

.bloc_droite {
    padding: .5rem;
    background-color: rgb(212, 212, 212);
    margin-left: 1rem;
    width: 25%;
}

.h1_droite {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.txt_droite {
    text-align: right;
}

.bloc_bas {
    margin-top: 3rem;
    position: absolute;
    width: 80vw;
    margin-left: 50%;
    transform: translate(-50%);
    padding: .5rem;
    background-color: rgb(212, 212, 212);
    border-right: solid 1px black;
    border-left: solid 1px black;
}

.titre_bas {
    text-align: center;
    font-style: italic;
    background-color: rgb(240, 240, 240);
}

.txt_bas {
    text-align: center;
}