body {
  background: #FFFFFF;
}

#gauche {
  float : left;
  display : block;
  flex-direction : colum-left;
  background-color:#C0C0C0;
  height: 1000px;
  width: 250px;
  padding: 1rem;
  margin: 1em;
}

#droite {
  float: left;
  display:block;
  flex-direction: column right;
  background-color:#C0C0C0;
  height: 1000px;
  width: 250px;
  padding: 1rem;
  margin: 1em;
}

#centre {
  float: left;
  display:block;
  background-color:#C0C0C0;
  height: 1000px;
  width: 250px;
  padding: 1rem;
  margin: 1em;
}

#centre_bas {
  float: left;
  display:block;
  background-color:#C0C0C0;
  height: 1000px;
  width: 250px;
  padding: 1rem;
  margin: 1em;
}
}


#bas {
  background:#C0C0C0;
  position:bottom;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
}
