* {
  margin: 5px;
  padding: 5px;
  box-sizing: content-box;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

body {
  background: #BAFAFA;
  font-size: 16px;
  line-height: 23px;
  color: #555555;
}

img {
  border-radius: 50%;
  display: block;
}

h1 {
  color: 96FC9E;
}