* {
  margin: 5px;
  padding: 5px;
  box-sizing: content-box;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

body {
  background: #BAFAFA;
  font-size: 16px;
  line-height: 23px;
  color: #555555;
}

img {
  border-radius: 50%;
  display: block;
}

h1 {
  color: #1A17F1;
  text-decoration: underline;
  font-size: 25px;

}

header {
  color: #9616EF;
  border:5px dotted black;
  font-size: 30px;
}

.photo_enbas {
  position: relative;
  width: 1000px;
  height: 60px;
  max-width: 1000px;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  overflow: hidden;
  background-image : url('Layout2022.JPG');
}

#part1 {
  color: #EF164E;
}

#part3 {
  font-weight: bolder;
  font-style: italic;


}